.recent-area {
    margin-left: 22px;
    .recent-block {
        width: 300px;
        .title {
            background: white;
            padding: 22px;
            font-size: 15px;
            border-bottom: 1px solid #e8e8e8;
        }
        .rencent-article-child {
            background: white;
            padding-left: 22px;
            padding-top: 12px;
            padding-bottom: 12px;
            color: #8c8c8c;
            font-size: 15px;
        }
    }
}