@media screen and (min-width:1000px) {
    .grid-container {
        display: flex;
        flex-flow: column nowrap;
        width: 90%;
    }
    .grid-parent {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 0;
        /*元素弹性*/
        text-align: center;
    }
    .grid-container .grid-parent:first-child {
        margin-bottom: 10px;
    }
}