.ProgrameOverview {
    text-align: center;
    width: 30%;
    flex: 1 1 0;
    .img {
        padding: 60.15% 0 0;
        position: relative;
    }
    .img>img {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
}