.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.formPage {
    width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}